ion-toolbar {
    --background: #20315F;
    --color: white;
}

ion-input {
    margin-bottom: 10px;
}

ion-button {
    margin-top: 10px;
    --background: #20315F;
    --color: white;
}

ion-note {
    margin: 15px;
    font-style: italic;
}