ion-toolbar {
  --background: #20315F;
  --color: white;
}

.content {
  --background: url('../../assets/img/texture2.png') no-repeat center center;
}

div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;

  ion-card {
    width: 290px;
    height: 210px;

    ion-item {
      width: auto;
      height: 100%;

      ion-card-content {
        text-align: center;
      }
    }


  }
}